<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'onlineapp/css/bulma.css' %}">
</head>
<body>
    <h1 class="title" style="text-align:center;">Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="container has-text-centered" style="max-width:500px;">
            {{ form.as_p }}
        </div>
        {% comment %}
        <div class="control field">
            {{ form.username }}
        </div>
        <div class="control field">
            {{ form.password }}
        </div>
        {% endcomment %}
        <br>
        <div class="container has-text-centered">
            <input class="button is-link" type="submit" value="Login">&nbsp;&nbsp;
            <a class="button" href="{% url 'signup' %}">SignUp</a>
        </div>
    </form>
    {% for message in messages %}
    <span class="box">{{message}}</span>
{% endfor %}
</body>
</html>